.slick-prev, .slick-next {
    background-color: #c9251a; /* Change this to your desired color */
    border-radius: 50%; /* Optional: make the arrows circular */
    width: 23px; /* Optional: adjust the size */
    height: 23px; /* Optional: adjust the size */
    z-index: 1; /* Ensure arrows are above other elements */
  }

  .slick-prev:hover, .slick-next:hover {
    color: #ffffff;
    background-color: #a9a9a9 ;  /* Change the arrow icon color */
  }

  .slick-prev:before, .slick-next:before {
    color: rgb(0, 0, 0); /* Change the arrow icon color */
  }